<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <title>Nikola Tesla Bio</title>
</head>

<body>
    <header class="header-home">
        <nav>
            <section class="section-logo-search">
                <div class="logo">
                    <a href="/"><img src="/images/nikola-tesla-logo.jpg"></a>
                </div>
                <article class="tesla-coils">
                    <img class="coil" src="/images/tesla-coil.png">
                    <img class="ray" src="/images/tesla-coil-ray.png">
                    <img class="coil" src="/images/tesla-coil.png">
                </article>
                <article class="search-bar-container">
                    <div class="search-bar">
                        <form class="search-bar-style">
                            <input type="text" name="search" placeholder="Search...">
                            <i class="fab fa-searchengin"></i>
                        </form>
                    </div>
            </article>
            </section>
            <section class="bar-icons">
                <div class="Home">Home
                    <i class="fas fa-home"></i>
                </div>
                <div class="Contact">Contact
                    <i class="fas fa-phone"></i>
                </div>
                <div class="News">News
                    <i class="far fa-newspaper"></i>
                </div>
            </section>
        </nav>
    </header>
    <main class="main-home">
        <section class="paragraph-main">
            <h3>Nikola Tesla</h3>
            <article>

            </article>
        </section>
    </main>

</body>

</html>